:root {
    --background-color: #00030c;
    --white-color: #fff;
    --gray-color: #c0c0c0;
    --font-family: "Inter";
    --blue-button: #167bf7;
    --blue-button-effect: #3c92fa;
}

body {
    background-color: var(--background-color);
    color: var(--white-color);
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 400;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    height: 100vh;
}

.main {
    background-image: url("images/background.png");
    background-repeat: no-repeat;
    align-items: center;
    text-align: center;
}

.secondary {
    align-items: center;
    margin: 0 10em;
}

.main-wrapper {
    margin: 0 6em;
}

.main-title {
    font-size: 28px;
    font-weight: 700;
}

.main-note {
    font-size: 12px;
}

.main-image {
    margin: 1em 0 2em 0;
}

.main-btn {
    background-color: var(--blue-button);
    border-radius: 5px;
    padding: 1em;
    color: var(--white-color);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.main-btn-outline {
    background-color: transparent;
    border: 2px solid var(--white-color);
}

.secondary-image {
    width: 80%;
}

.secondary-description {
    padding: 2em;
}

.secondary-title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 0.1em;
}

.secondary-body {
    color: var(--gray-color);
}

.third {
    text-align: center;
}

.third-title {
    font-size: 48px;
}

.third-devices {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

footer {
    text-align: center;
    margin: 5em 3em;
}

.footer-links {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.footer-links a {
    text-decoration: none;
    color: var(--white-color);
    margin-left: 1em;
}
