:root {
    --background-color: #00030c;
    --white-color: #fff;
    --gray-color: #c0c0c0;
    --font-family: "Inter";
    --blue-button: #167bf7;
    --blue-button-effect: #3c92fa;
}

body {
    background-color: var(--background-color);
    color: var(--white-color);
    font-family: var(--font-family);
    font-size: 2em;
    font-weight: 400;
}
